.pagination-item {
  appearance: none;
  font-size: 18px;

  font-weight: bold;
  border: none;
  background: transparent;
  color: #474955;
  cursor: pointer;
}

.pagination-item.disabled {
  opacity: 0.3;
  cursor: default;
}

.active-pagination-item {
  color: #7ebc3c;
}
