.input-wrapper {
  background: #5a5c66;
  padding: 18px;
  display: flex;
}

.input-wrapper > input[type='text'] {
  background: transparent;
  appearance: none;
  outline: none;
  border: none;
  font-size: 14px;
  width: 100%;
  box-sizing: border-box;
  ::placeholder {
    color: #b2b7bf;
  }
}

.search-hightligh {
  background-color: black;
  color: white;
}
