.input-wrapper {
  background: #5a5c66;
  padding: 12px 12px 10px 12px;
  border-radius: 10px;
  display: flex;
}

.input-wrapper > input[type='text'] {
  background: transparent;
  appearance: none;
  outline: none;
  border: none;
  font-size: 14px;
  width: 100%;
  box-sizing: border-box;
  padding: 0 10px;
  letter-spacing: 0.9px;
  font-weight: 400;
  font-family: 'Mulish';
}
.input-wrapper > input[type='text']::placeholder {
  color: #fff;
  font-family: 'Mulish';
}
.search-hightligh {
  background-color: black;
  color: white;
}
